
.Navbar {
    background: #11103b;
    height: 60px;
    ul {
        position: absolute;
        right: 22px;
        width: 100%;
        display: flex;
        padding: 0;
        list-style: none;
        text-align: center;
        justify-content: flex-end; 
        margin: 0;
  
        li {
            
          a{
              padding: 22px 36px;
              display: block;
              font-family: "Helvetica Neue";
              font-weight: bold; 
              font-size: 22px;
              line-height: 16px;
              text-decoration: none;
              color: #d1c3e6;
  
              &:hover svg {
                  color: #f0ebf7;
              }
          }
        }
      }
}